<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/public/images/logo-512.png" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2016-2020</small>
            <small class="d-block mb-3 text-muted">网站设计遵循MIT协议</small>
            <small class="d-block mb-3 text-muted">Power by Sky-Blue</small>
            <small class="d-block mb-3 text-muted"><a
                    href="https://github.com/SkyBlueFeet/skyui">https://github.com/SkyBlueFeet/skyui</a></small>
        </div>
        <div class="col-6 col-md">
            <h5>友情链接</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="http://www.tstc.edu.cn/">唐山师范学院</a></li>
                <li>
                    <a class="text-muted" href="https://www.tsinghua.edu.cn/publish/thu2018/index.html">清华大学</a>
                </li>
                <li>
                    <a class="text-muted" href="http://www.moe.gov.cn/">教育部</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>合作伙伴</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>关于我们</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>