<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- 移动适配菜单展开按钮 -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="container">
        <nav class="navbar navbar-light w-100 d-flex flex-row">
            <a class="navbar-brand" href="/">
                <img src="/public/images/logo-384.png" width="30" height="30" class="d-inline-block align-top"
                    alt="Logo">
                渴了么
            </a>
            <form class="form-inline">
                <a class="btn btn-primary" href="/user/login"> 登 录 </a>
                <button class="btn btn-outline-success my-2 my-sm-0 m-2" type="button"> 注 册 </button>
            </form>
        </nav>
    </div>
</nav>