<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500 | <%= title %></title>
</head>
<body>
    <!-- 公益 404 页面介绍
    公益404页面是由腾讯公司员工志愿者自主发起的互联网公益活动。

    网站只需要在自己的404页面中嵌入一段简单的代码，就能通过互联网来迅速传播失踪儿童信息，从而提高找回失踪儿童的概率。失踪儿童信息来自宝贝回家寻子网。 -->
    <!-- 复制以下 js 代码，嵌入到您的 404 页面，可以自适应移动设备。 -->
    <!-- 来源:https://www.qq.com/404/ -->
    <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8" homePageUrl="/" homePageName="回到主页"></script>
</body>
</html>