footer {
    width: calc(100% - 30px);
}

footer .row:not(input) {
    text-align: center;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding-top: 5rem;
}

@media (max-width: 768px) {
    body {
        padding-top: 10rem;
    }
}

.custom-link {
    margin-right: 0.5rem;
    color: #333;
}

.underline,
.custom-link:hover,
.custom-link.active {
    color: #4582ec;
    box-shadow: 0px 2px 0px rgba(69, 130, 236, 0.5);
}
