@import "_vars";

* {
    padding: 0;
    margin: 0;
}

.index-header {
    height: $headerHeight;
    line-height: $headerHeight;
    width: calc(100% - #{$headerPadding * 2});
    background-color: rgba(#666, 0.1);
    padding: 0 $headerPadding;
    &__container {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-evenly;
    }
}

.nav-link {
    color: rgba(#fff, 0.6);
    font-weight: 400;
    transition: box-shadow 0.2s;
    text-decoration: none;
    &:hover,
    &.active {
        color: #fff !important;
        cursor: pointer;
        box-shadow: inset 0px -2px 0px 0px #fff !important;
    }
}
